#Exploratory data analysis

The idea is to use the House Prices dataset available in Kaggle tutorials as an example for machine learning for regression problems.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/train.csv').drop(['Id'], axis=1)
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [ ]:
to_remove = df.isnull().sum().sort_values(ascending=False).head(16).index
to_remove

Index(['PoolQC', 'MiscFeature', 'Alley', 'Fence', 'FireplaceQu', 'LotFrontage',
       'GarageYrBlt', 'GarageCond', 'GarageType', 'GarageFinish', 'GarageQual',
       'BsmtExposure', 'BsmtFinType2', 'BsmtCond', 'BsmtQual', 'BsmtFinType1'],
      dtype='object')

In [ ]:
df = df.drop(to_remove, axis=1).dropna()
df

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,7917,Pave,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,20,RL,13175,Pave,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,70,RL,9042,Pave,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,20,RL,9717,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,20,RL,9937,Pave,Reg,Lvl,AllPub,Inside,Gtl,Edwards,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [ ]:
import numpy as np

numerical_features = df.select_dtypes(include=[np.number]).drop('SalePrice', axis=1).columns
categoricals_features = df.select_dtypes(exclude=[np.number]).columns

def normalize(s):
    #StandardScaler
    mean = s.mean()
    std = s.std()
    s = (s-mean)/std

    #MinMaxScaler
    max = s.max()
    min = s.min()
    s = (s-min)/(max-min)
    return s

for f in numerical_features:
    df[f] = normalize(df[f])
df = pd.get_dummies(df, columns=categoricals_features)

df

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,0.235294,0.033420,0.666667,0.500,0.949275,0.883333,0.122500,0.125089,0.000000,0.064212,...,0,0,0,1,0,0,0,0,1,0
1,0.000000,0.038795,0.555556,0.875,0.753623,0.433333,0.000000,0.173281,0.000000,0.121575,...,0,0,0,1,0,0,0,0,1,0
2,0.235294,0.046507,0.666667,0.500,0.934783,0.866667,0.101250,0.086109,0.000000,0.185788,...,0,0,0,1,0,0,0,0,1,0
3,0.294118,0.038561,0.666667,0.500,0.311594,0.333333,0.000000,0.038271,0.000000,0.231164,...,0,0,0,1,1,0,0,0,0,0
4,0.235294,0.060576,0.777778,0.500,0.927536,0.833333,0.218750,0.116052,0.000000,0.209760,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,0.235294,0.030929,0.555556,0.500,0.920290,0.833333,0.000000,0.000000,0.000000,0.407962,...,0,0,0,1,0,0,0,0,1,0
1456,0.000000,0.055505,0.555556,0.625,0.768116,0.633333,0.074375,0.139972,0.110583,0.252140,...,0,0,0,1,0,0,0,0,1,0
1457,0.294118,0.036187,0.666667,1.000,0.500000,0.933333,0.000000,0.048724,0.000000,0.375428,...,0,0,0,1,0,0,0,0,1,0
1458,0.000000,0.039342,0.444444,0.625,0.565217,0.766667,0.000000,0.008682,0.698100,0.000000,...,0,0,0,1,0,0,0,0,1,0
1459,0.000000,0.040370,0.444444,0.625,0.673913,0.250000,0.000000,0.147059,0.196744,0.058219,...,0,0,0,1,0,0,0,0,1,0

#The scikit-learn KNeighborsRegressor algorithm

In [ ]:
from sklearn.model_selection import StratifiedKFold, cross_val_score
from sklearn.neighbors import KNeighborsRegressor
random_state = 0

def apply_cv(df, model, random_state=0):
    X = df.drop('SalePrice', axis=1)
    y = df['SalePrice']

    cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=random_state)
    scores = cross_val_score(model, X, y, cv=cv, n_jobs=-1)
    return scores

apply_cv(df, KNeighborsRegressor(n_neighbors=5, weights='distance', algorithm='brute'))

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

array([0.66059819, 0.66781759, 0.69801583, 0.67089625, 0.69937899])

#Implementation of the KNeighborsRegressor algorithm using the NumPy library in Python

In [ ]:
def get_X_y(df, target):
    X = df.drop(target, axis=1)
    y = df[target]
    return X, y

df_train = df.drop(df.tail(290).index)
X_train, y_train = get_X_y(df_train, 'SalePrice')

df_test = df.tail(290)
X_test, y_test = get_X_y(df_test, 'SalePrice')

class KNNRegressor:
    def __init__(self, X_train, y_train, k=5, p=1):
        self.X_train = X_train.values
        self.y_train = y_train.values[:, np.newaxis]
        self.k = k
        self.p = p

    def predict(self, X_test):
        X_train = self.X_train
        y_train = self.y_train
        X_test = X_test.values

        y_pred = []
        for i in range(len(X_test)):
            distance_list = []
            for j in range(len(X_train)):
                distance_list.append(self.get_distance(row_1=X_test[i], row_2=X_train[j]))
                
            distance_array = np.array(distance_list)[:, np.newaxis]
            self.distance_array = distance_array ###tirar depois
            y_pred.append(self.get_weighted_average(distance_array))

        self.y_pred = np.array(y_pred)
        return self.y_pred

    def get_distance(self, row_1, row_2):
        p = self.p        
        sum = ((np.abs(row_1 - row_2))**p).sum()
        return sum**(1/p)

    def get_weighted_average(self, distance_array):
        y_train = self.y_train
        k = self.k

        A = np.hstack((distance_array, y_train))
        A = A[A[:,0].argsort()]

        while A[k, 0] == A[k-1, 0]:
            k += 1
        A = A[:k]

        A[:,0] = self.get_inv_dist(A[:,0])

        if A[0, 0] == float('inf'):
            weighted_average = A[0, 1]
        else:
            B = A[:, 0] * A[:, 1]
            weighted_average = B.sum()/A[:,0].sum()
        
        return weighted_average

    def get_inv_dist(self, array):
        inv_list = []
        for i in array:
            if i == 0:
                inv_list.append(float('inf'))
            else:
                inv_list.append(1/i)
        return np.array(inv_list)

    def get_score(self, y_test):
        y_test = y_test.values
        if hasattr(self, 'y_pred') == False:
            print('No prediction has been made yet.')
            return

        y_pred = self.y_pred
        SSE = ((y_test - y_pred)**2).sum()
        SST = ((y_test - y_test.mean())**2).sum()
        score = 1 - (SSE/SST)
        return score

knn = KNNRegressor(X_train, y_train)
knn.predict(X_test)
knn.get_score(y_test)

0.6419825662042664

In [ ]:
from math import ceil

class CrossValidation:
    def __init__(self, df, target, n=5):
        self.df = df
        self.target = target
        self.n = n

    def get_score_list(self):
        df = self.df.copy()
        n = self.n

        df = df.sample(frac=1)
        rows_per_split = ceil(len(df)/n)

        split_list = [df.iloc[i:i + rows_per_split, :] for i in range(0, len(df), rows_per_split)]
        self.split_list = split_list

        score_list = []
        for i in range(n):
            df_train = pd.concat(split_list[:i] + split_list[i+1:])
            df_test = split_list[i]

            X_train, y_train = self.get_X_y(df_train)
            X_test, y_test = self.get_X_y(df_test)

            knn = KNNRegressor(X_train, y_train)
            knn.predict(X_test)
            score_list.append(knn.get_score(y_test))

        self.score_list = score_list
        return score_list

    def get_X_y(self, df):
        target = self.target

        X = df.drop(target, axis=1)
        y = df[target]
        return X, y

CrossValidation(df, target='SalePrice').get_score_list()

[0.7727589511934535,
 0.7448288936845622,
 0.652265497062155,
 0.6915778815104714,
 0.698793087268476]